.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active {
        visibility: visible;
        opacity: 1;
        left: 0;
    }
    &__block {
        position: relative;
        background-color: $main-color;
        width: 345px;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        transition: all 0.6s;
        z-index: 10;
    }
    &__close {
        
        span {  
            position: absolute;
            right: 25px;
            top: 25px;
            display: block;
            margin-top: 5px;
            width: 39px;
            height: 3px;
            background: #000000;
            border-radius: 10px;
            transform: rotate(45deg);
            cursor: pointer;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 30px;
            width: 30px;
            right: 29.5px;
            top: 17px;
            background: rgba(255, 0, 0, 0);
            cursor: pointer;
        }
        span.right {
            transform: rotate(-45deg);
        }
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
    }
    &__link {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
        &:before {
            content: '';
            position: absolute;
            left: -35px;
            top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 1px solid #000000;
            transition: all 0.6s;
        }
        &:hover {
            &:before {
                background-color: #FFFFFF;
            }
        }
        a {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &__social {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
        }
        span {
            font-size: 20px;
            display: block;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#FFFFFF;
        opacity: 0.75;
        
    }
}