.privacy {
    word-wrap: break-word;
    padding: 60px 80px;
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    h2 {
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 15px;
    }
}
.table {
    margin: 30px auto;
    width: 580px;
    display: grid;
    grid-template-columns: 224px 356px;
    grid-template-rows: repeat(4, minmax(67px, auto));
    grid-auto-rows: auto;
    align-items: center;
    &__info {
        padding: 8px 12px;
        min-height: 67px;
        border: 1px solid #8d8989;
    }
    &__name {
        padding: 8px 12px;
        min-height: 67px;
        border: 1px solid #8d8989;
    }
}